<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block styles %}

        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="http://localhost:3000/styles-min.css" rel="stylesheet" type="text/css">

    {% endblock %}

</head>
<body>
    {% if messages.info %}
        <div class="message info">{{ messages.info }}</div>
    {% endif %}

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>