<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/css-myalbums.css">
    {% block styles %}{% endblock %}
</head>
<body>
    {% if messages.info %}
        <div class="message info">{{ messages.info }}</div>
    {% endif %}

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>