{% extends "layout.html" %}

{% block title %}Login{% endblock %}


{% block content %}
    <div class="login-form">
        <h1>Login Form</h1>
        <form action="login" method="post">
            <p>
                <input type="email" id="email-input" placeholder="Enter your email address." name="email">
            </p>
            <p>
                <input type="password" id="password-input" placeholder="Enter your password." name="password">
            </p>
            <p>
                <input type="submit" value="Login">
            </p>
        </form>
    </div>
{% endblock %}
