{% extends "layout.html" %}

{% block title %}My Albums{% endblock %}

{% block content %}
    <h3> My Albums and Photos </h3>
    <div id="albums"></div>
    <div id="complete-layout">
        <div id="vertical-layout" class="vertical-layout">
            <div id="horizontal-layout" class="horizontal-layout">
                <div id="album-list" class="album-list">
                        <table>
                            <tr>
                                <a id="album1" onclick="getData(1)">Album1</a>
                            </tr>
                            <tr>
                                <a id="album2" onclick="getData(2)">Album2</a>
                            </tr>
                            <tr>
                                <a id="album3" onclick="getData(3)">Album3</a>
                            </tr>
                            <tr>
                                <a id="album4" onclick="getData(4)">Album4</a>
                            </tr>
                            <tr>
                                <a id="album5" onclick="getData(5)">Album5</a>
                            </tr>
                            <tr>
                                <a id="album6" onclick="getData(6)">Album6</a>
                            </tr>
                            <tr>
                                <a id="album7" onclick="getData(7)">Album7</a>
                            </tr>
                            <tr>
                                <a id="album8" onclick="getData(8)">Album8</a>
                            </tr>
                            <tr>
                                <a id="album9" onclick="getData(9)">Album9</a>
                            </tr>
                            <tr>
                                <a id="album10" onclick="getData(10)">Album10</a>
                            </tr>
                        </table>
                    </div>
                <div id="thumbnail-4-2" class="thumbnail-4-2">

                </div>
            </div>
            <div id="image-showport" class="image-showport">

            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">

        function load(i){
            var xhr = new XMLHttpRequest();
            var output = '';

            var baseUrl = 'https://jsonplaceholder.typicode.com/albums/1/photos';

            xhr.open('GET', baseUrl);

            xhr.onload = function () {
              var photos = JSON.parse(this.responseText);

              console.log(photos);

              for(var k in photos){

                  //console.log("k ->", photos[k].url);

                  if(k == i){
                      output +=
                          '<ul>' +
                                '<img src=\"' + photos[k].url + '\">' +
                          '</ul>';
                  }
              }
              console.log(output);
              document.getElementById('image-showport').innerHTML = output;
            };

            xhr.send();

        }

        function getData(z) {

            var xhr = new XMLHttpRequest();
            var output = '';

            var baseUrl = 'https://jsonplaceholder.typicode.com/albums/1/photos';

            xhr.open('GET', baseUrl);

            xhr.onload = function () {
                var albums = JSON.parse(this.responseText);

                var count = 0;
                for (var i in albums) {
                    if (albums[i].albumId === z) {
                        if (count < 8) {

                            output +=
                                '<ul>' +
                                    '<a onclick="load(' + albums[i].id + ')">' +
                                        '<img src=\"' + albums[i].thumbnailUrl + '\">' +
                                    '</a>' +
                                '</ul>';
                            count++;
                        }
                    }
                }

                var Id = 'thumbnail-4-2';
                document.getElementById(Id).innerHTML = output;

            };

            xhr.send();

        }

    </script>
{% endblock %}
