.logout-button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: medium;
  margin: auto;
  vertical-align: middle;
}
.header-template {
  display: grid;
  grid-template-columns: 85% 15%;
  background-color: bisque;
  border: 2px solid crimson;
}
.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: xx-large;
  color: black;
  text-align: center;
}
.header:hover {
  color: blue;
}
.message {
  padding: 6px 12px;
  margin-bottom: 12px;
  border-radius: 4px;
}
.message.info {
  color: #535b63;
  background-color: lightblue;
}
.album-list {
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: medium;
  text-align: center;
  background-color: bisque;
  vertical-align: middle;
  color: black;
  padding: 5px;
  border: 2px solid crimson;
}
.album-list:hover {
  color: blue;
  font-size: larger;
}
.horizontal-layout {
  display: grid;
  grid-template-columns: 30% 70%;
}
.thumbnail-4-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: bisque;
  grid-gap: 20px;
  padding: 20px;
  border: 2px solid crimson;
}
.image-showport {
  align-self: center;
  background-color: bisque;
}
.placeholder img {
  display: block;
  border: 5px solid black;
  border-radius: 50%;
  text-align: center;
}
.big-image {
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  border: 2px solid crimson;
}
.big-image img {
  border-radius: 50%;
  border: 5px solid black;
}
