.login-form {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="email"] {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
}
.login-form input[type="password"]:invalid,
.login-form input[type="email"]:invalid {
  border: 2px dashed blue;
  background-color: crimson;
}
.login-form input[type="button"] {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  background-color: #535b63;
}
.login-form input[type="button"]:disabled {
  background-color: crimson;
}
