.image-rounder(@radius: 50%) {
  border-radius: @radius;
}

.image-border(@radius: 5px; @color:solid black) {
  border: @radius @color;
}

.div-border(@radius: 2px; @color:solid crimson) {
  border: @radius @color;
}

.back-color(@color: crimson) {
  background-color: @color;
}

.padder(@padder: 20px) {
  padding: @padder;
}

.fontfam(@fammer: 'Open Sans') {
  font-family: @fammer;
}

a {
  text-decoration: none;
}

.logout-button {
  display: block;
  width: 100px;
  height: 25px;
  background: floralwhite;
  text-align: center;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: bold;
  font-size: medium;
  margin: auto;
  vertical-align: middle;
  .fontfam;
}

.header-template {
  display: grid;
  grid-template-columns: 17fr 3fr;
  .back-color;
  .div-border;
}

.header {
  .fontfam;
  font-weight: bold;
  font-size: xx-large;
  color: black;
  text-align: center;
}

.header:hover {
  color: blue;
}

.message {
  padding: 6px 12px;
  margin-bottom: 12px;
  border-radius: 4px;

  &.info {
    color: #535b63;
    background-color: lightblue;
  }
}

.album-list {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  .fontfam;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  .back-color;
  vertical-align: middle;
  color: black;
  padding: 5px;
  .div-border;

  &:hover {
    color: blue;
  }
}

.horizontal-layout {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.thumbnail-4-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .back-color;
  grid-gap: 20px;
  .padder;
  .div-border;
}

.image-showport {
  align-self: center;
  .back-color;
}

.placeholder img {
  display: block;
  .image-border;
  .image-rounder;
  text-align: center;
}

.big-image {
  vertical-align: middle;
  text-align: center;
  .padder;
  .div-border;

  & img {
    .image-rounder;
    .image-border;
  }
}

@media (max-width: 960px) {
  .horizontal-layout {
    grid-template-columns: unset;
    grid-template-rows: min-content min-content;
  }

  .album-list {
    width: auto;
  }

  .thumbnail-4-2 {
    grid-template-columns: 1fr 1fr;
  }

  .header-template {
    grid-template-columns: 64% 36%;
  }

  .placeholder img {
    max-width: 100%;
  }

  .big-image img {
    max-width: 100%;
  }

}
